@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secondary-color: #F05454;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secondary-color: #F05454;
    --font: "Nunito Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secondary-color: #F05454;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}
.graficos-container_texto {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
  border: var(--secondary-color) solid 2px;
}
span {
 font-weight: bold;
 color: var(--secondary-color);
}
graficos-container {
 margin: 5rem;
}
.graficos-container_texto {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
  border: var(--secondary-color) solid 2px;
}
span {
 font-weight: bold;
 color: var(--secondary-color);
}
.grafico {
    margin-top: 3rem;
}
s